{% extends "base.html" %}

{% block content %}

{% if watchlist|length == 0 %}

<form action="/add" method="post">
    <label>
        I want to add
        <input type="text" name="new-movie"/>
        to my watchlist.
    </label>
    <input type="submit" value="Add It"/>
</form>
</br>

{% else %}
<h2>Edit My Watchlist</h2>

<ul>
    {% for movie in watchlist: %}
    <li>{{movie}}</li>
    {% endfor %}
</ul>

<form action="/crossoff" method="post">
    <label>
        I want to cross off
        <input type="text" name="crossed-off-movie"/>
        from my watchlist
    </label>
    <input type="submit" value="Cross It Off"/>
</form>

</br>
<form action="/crossoff" method="post">
    <label>
        I want to cross off
        <select name="crossed-off-movie">
            <!-- need to loop over watchlist to create option elements -->
            {% for movie in watchlist: %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>
        from my watchlist.
    </label>
    <input type="submit" value="Cross It Off"/>
    </br>
</form>
{% endif %}

<!-- END OF FORM -->

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
